.btn{
    width: 200px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
    color: white;
}